<div class="ui grid">
    <div class="three wide column">
        <div class="ui vertical fluid left tabular menu">
            <a class="item" routerLinkActive="active" routerLink='/profile/myprofile'>My personal data</a>
            <a class="item" routerLinkActive="active" routerLink='/profile/registration'>Registration data</a>
            <a class="item" routerLinkActive="active" routerLink='/profile/interests'>Interests and Additional information</a>
            <a class="item" routerLinkActive="active" routerLink='/profile/mycalendar'>My calendar</a>
            <a class="item" routerLinkActive="active" routerLink='/profile/mymenus'>My menus</a>
        </div>
    </div>
    <div class="thirteen wide column">
        <router-outlet></router-outlet>
    </div>
</div>