<div class="ui container">
<div class="ui one column grid">
  <div class="column">
    <div class="ui primary menu ">

      <a class="item" [routerLink]="['/home']">Home</a>
      <a class="item" [routerLink]="['/menus']">My menus</a>
      <a class="item" [routerLink]="['/dishes']">My dishes</a>
      <a class="item" [routerLink]="['/calendar']">My fit calendar</a>

      <div class="right menu">
        <a class="item" href="#"><span class=""></span> Sign Up</a>
        <a class="item" href="#"><span class=""></span> Login</a>
      </div>
    </div>
  </div>
</div>
</div>
